.resource{
    background-color: rgb(183, 14, 14);
    height: 90vh;
    width: 100vw;
}
.res-grid{
    border: 1px solid white;
    width: 100vw;
    display: grid;
    height: 90vh;
    grid-template-columns: 20% 80%;
}
.sidebar{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
}
.sidebar a{
    font-family: space-mono-bold;
    text-decoration: none;
    padding: 10px;
}
.home{
    background-color: greenyellow;
}

